.week-grid-container {
  background-color: var(--ultra-light);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.week-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.week-box {
  width: 50px;
  height: 50px;
  background-color: var(--light-grey);
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.week-box.green {
  background-color: var(--green);
}

.week-box.current-week {
  background-color: var(--light-green);
  outline: 2px solid white;
  box-shadow: 4px 4px 10.4px 6px #84F1004D;
}

.week-label {
  visibility: hidden;
  vertical-align: middle;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.week-box:hover .week-label {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .week-box {
    width: 40px;
    height: 40px;
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  .week-box {
    width: 35px;
    height: 35px;
    font-size: 7px;
  }
}

@media (max-width: 480px) {
  .week-box {
    width: 30px;
    height: 30px;
    font-size: 6px;
  }
}
