a {
  color: rgb(0 186 234) !important;
  text-decoration: none;
}

.text-primary-custom {
  color: #2fbf71;
}

.btn-primary-custom {
  background-color: #2fbf71 !important;
  border-color: #2fbf71 !important;
  color: #ffffff !important;
}

.btn-primary-custom:hover {
  background-color: #8cd867;
  border-color: #8cd867;
}

.bg-custom {
  background-color: #FFF3E0;
}

.form-control-custom {
  border: 1px solid #FFB74D;
  background-color: #FFF3E0;
  color: #5D4037;
}

.form-control-custom:focus {
  border-color: #2fbf71;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

/* Logo Styling */
.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-img {
  max-width: 100px;
  height: auto;
}

.screen-container {
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}

.screen-header {
  text-align: center;
  margin-bottom: 10px;
}

.alert-custom {
  font-size: 16px;
}

.btn-custom-spacing {
  margin-bottom: 15px;
}
