@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
  color: inherit;
}
#root,
#__next {
  isolation: isolate;
}
.link {
  text-decoration: none;
  color: inherit;
}
hr {
  border: none; 
  height: 1px; 
  background-color: var(--bg-secondary);
  margin: var(--spacing-xxl) 0;
}
:root {
  --primary: #000000;
  --primary-light: #343638;
  --primary-lighter: #5a5c60;

  --accent: #2fbf71;
  --accent-light: #39db83;
  --accent-dark: #29b865;
  --accent-strong: #0090e9;

  --bg: #f3f8ff;
  --bg-light: #ffffff;
  --bg-dark: #e6e9ee;
  --bg-strong: #c9ccd0;
}


body {
  background-color: var(--bg);
}

h1, h2, h3 {
  color: var(--primary);
}

.success {
  color: var(--success-color);
}

.error {
  color: var(--error-color);
}

:root {
  --font-heading: 32px;
  --font-sub-heading: 24px;
  --font-body: 18px;
  --font-small: 16px;
}

@media (max-width: 1024px) {
  :root {
    --font-heading: 28px;
    --font-sub-heading: 22px;
    --font-body: 16px;
    --font-small: 14px;
  }
}

@media (max-width: 768px) {
  :root {
    --font-heading: 24px;
    --font-sub-heading: 20px;
    --font-body: 15px;
    --font-small: 12px;
  }
}

:root {
  --spacing-xs: 8px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 30px;
  --spacing-xl: 40px;
  --spacing-xxl: 60px;
  --gap-sm : 12px;
  --gap-md : 16px;
  --gap-lg : 24px;
  --gap-xl : 40px;
}

@media (max-width: 768px) {
  :root {
    --spacing-xs: 4px;
    --spacing-sm: 6px;
    --spacing-md: 12px;
    --spacing-lg: 16px;
    --spacing-xl: 24px;
    --spacing-xxl: 32px;
  }
}
input {
  padding: 15px 20px;
  border: 1.5px solid var(--bg-strong);
  border-radius: 8px;
  font-size: var(--font-body);
  width: 100%;
}
input:focus {
  border: none;
}

/* Firefox */
* {
  scrollbar-width: thin; 
  scrollbar-color:  var(--text-color)  var(--bg-primary); 
}
