@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Colour Pallete */
  --blue: rgb(0, 186, 234);
  --green: rgb(47, 191, 113);
  --light-green: rgb(140, 216, 103);
  --heading-color: rgb(54, 53, 55);
  --sub-heading-color: rgb(100, 98, 102);
  --light-grey: rgb(194, 194, 194);
  --ultra-light: rgb(245, 245, 245);
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  color: var(--heading-color);
}

button {
  padding: 10px 20px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}