.dark-mode-btn {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
  }
  
  .dark-mode-btn.light {
    background-color: var(--light-grey);
  }
  
  .dark-mode-btn.light:hover {
    background-color: var(--blue);
  }
  
  .dark-mode-btn.dark {
    background-color: var(--blue);
  }
  
  .dark-mode-btn.dark:hover {
    background-color: #007ca1;
  }
  