.week-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--heading-color);
}

.week-manage-resolution,
.week-title-wrapper .arrow,
.week-title-details {
    cursor: pointer;
}


.week-manage-resolution {
    background-color: var(--green);
    height: 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    gap: 8px;
    padding: 12px 8px;
}

.week-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--heading-color);
}

.week-title-details {
    font-size: 12px;
    color: var(--sub-heading-color);
    font-weight: 600;
}

.week-title-wrapper {
    display: inline-flex;
    gap: 16px;
}

.arrow {
    color: var(--sub-heading-color);
}